@import '~antd/dist/antd.css';

.ui-container {
    width: 1440px;
    height: 937px;
    background-color: black;
}

.recharts-default-legend{
    color: white;
}
.card{
    position: absolute;
    top: 420px;
    left: 550px;
}

.linechart-lower{
    position: absolute;
    top: 140px;
    left: 45px;

}

.linechart-upper{
    position: absolute;
    top: 600px;
    left: 310px;
    width: 500px;

}

.barchart{
    position: absolute;
    left: 850px;
    top: 140px;
}



.heatmap{
    position: absolute;
    left: 920px;
    top: 600px;
    height: 200px;
    width: 400px;
}

.App{
    line-height: 400px;
}


.piechart {
    position: absolute;
    top: 500px;
    left: 10px;
}

.ant-layout-header{
    position: absolute;
    width: 1440px;
    height: 87px;
    left: 0px;
    top: 0px;

    color:white;
    background-color:#E11A2C;
}

.neu{
    position:absolute;
    top: 10px;
    font-weight: bold;
    font-size:30px;
    color:black;
}

.svu{
    position: relative;
    top: 10px;
    text-align: center;
    font-weight: bold;
    font-size:30px;
    color:black;
}

.nelogo{
    position: relative;
    line-height: 1;
    width: 17em;
    height: auto;
    left: 1100px;
    top: -80px;
}

.dropdown-lower {
    position: absolute;
    left: 50px;
    top:100px;
}

.dropdown-upper{
    position: absolute;
    left: 850px;
    top: 100px;
}

.input-start-lower{
    position: absolute;
    left: 180px;
    top: 100px;
    width: 75px;
}

.input-end-lower{
    position: absolute;
    left: 262px;
    top: 100px;
    width: 75px;
}

.input-start-upper{
    position: absolute;
    left: 980px;
    top: 100px;
    width: 75px;
    
}

.input-end-upper{
    position: absolute;
    left: 1062px;
    top: 100px;
    width: 75px;
}

.times-lower{
    position: absolute;
    left: 346px;
    top: 100px;
}

.times-upper{
    position: absolute;
    left: 1146px;
    top: 100px;
}
